@model List<IGrouping<DateTime, Tuple<AttendanceRecord, Member>>>
@{
    Layout = "_AdminLayout";
    
}

   <form asp-action="AttendanceReports" asp-controller="Attendance">
     
        <div class="input-group flx-group">
          <div class="flx-group"><p class="txt">From:</p>  <input type="date"  id="FromDate" name="FromDate" class = "form-control datepicker dates"></div>
        <div class="flx-group"><p class="txt">To:</p>     <input type="date"  id="ToDate" name="ToDate" class = "form-control datepicker dates"></div>
    
          <div class="input-group-append flx-group">
            <input type="submit" value="Search Date"class="btn btn-outline-secondary" /> <span> </span>
                 <input type="submit" value="Show All"  class="btn btn-outline-secondary ms-2" /> <span> </span>
         </div>
               
    
    
         </div>
    </form>


   
<table id="attendanceTable" class="table">

@foreach(var item in Model){

       <tr> <td class="pt-5"><h5>@item.Key.ToString("dd MMM yyyy")</h5></td><td></td><td></td></tr>
        
        <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                 <th>Remove</th>
            </tr>
            foreach (var member in item)
            {
               

                  
                    <tr>
                        <td> @member.Item2.Firstname</td>
                         <td> @member.Item2.Lastname</td>
                        <td class="excludeThisClass">

                              <form asp-action="RemoveAttendance" asp-controller="Attendance">
                                    @Html.Hidden("id", member.Item2.Id)
                                    @Html.Hidden("date", item.Key)
                                
                                  <button  type="submit" value="Remove" class="btn btn-danger" > <i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</button>
                             </form>
                         </td>
                    </tr>
                           
       
             }
      
} 
</table>
<button class="exportToExcel btn btn-outline-secondary">Export to XLS</button>
 <script>
        $(function() {
        $(".exportToExcel").click(function(event) {
 
        $("#attendanceTable").table2excel({
            exclude: ".excludeThisClass",
            name: $("#attendanceTable").data("tableName"),
            filename: "AttendanceReports.xls",
            preserveColors: false
        });
        });
    });

 </script>